<section class="content">
    <div class="container">
        <div class="row">
            <div ng-if="categories.length > 0">
                <div class="col-md-3 hidden-sm">
                    <ul class="list-group categories">
                        <li ng-repeat="category in categories" class="list-group-item category" ng-class="category.selected ? 'selected': ''" ng-click="selectCategory(category)" role="button">
                            <i class="fa fa-angle-double-right"></i> {{category.name}}
                        </li>
                    </ul>
                </div>
                <div class="col-md-9 col-sm-12">
                    <ul class="experiments">
                        <li class="visible" ng-repeat="post in blogPosts">
                            <h3>
                                <a ng-click="goToPost(post)">{{post.name}}</a>
                                <span class="date">{{post.date | date:'dd.MM.yyyy'}} - {{post.postedBy}}</span>
                            </h3>
                            <p class="description">{{post.description}}</p>
                            <ul class="tags" ng-if="!!post.tags">
                                <li ng-repeat="tag in post.tags">{{tag}}</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-if="categories.length <= 0">
                <div class="col-md-12">
                    <p>Henüz blog yazısı yok.</p>
                </div>
            </div>
        </div>
    </div>
</section>