/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1 !important;
}

ol, ul {
    list-style: none !important;
}

a img {
    border: none !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block !important;
}

/* END RESET */

body {
    font-family: 'Source Sans Pro', sans-serif !important;
    color: #464646 !important;
    font-size: 23px !important;
    font-weight: 300 !important;
    background: #f9f9f9 !important;
    line-height: 1.3em !important;
}

    body.default {
        font-family: 'Inconsolata' !important;
    }

a {
    color: #333 !important;
    transition: color 100ms ease-out !important;
}

    a:hover {
        color: #999 !important;
    }

/**
 * Common header.wide-header and footer related styles.
 */
header.wide-header {
    position: relative !important;
    background: #333 !important;
    text-align: center !important;
    overflow: hidden !important;
    font-size: 18px !important;
}
    header.wide-header svg {
        display: block !important;
        width: 100% !important;
        opacity: 1 !important;
        position: relative !important;
        display: block !important;
        background: #333 !important;
    }

        header.wide-header svg polygon {
            cursor: pointer !important;
            opacity: 0 !important;
            transition: opacity 300ms ease-out !important;
        }

        header.wide-header svg.show polygon {
            opacity: 0.7 !important;
        }

        header.wide-header svg polygon:hover {
            opacity: 1 !important;
        }

    header.wide-header > div {
        position: absolute !important;
        top: 50% !important;
        left: 50% !important;
        padding: 15px !important;
        background-color: rgba(241, 241, 241, 0.9) !important;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
        transition-property: width, margin-left, border-radius, background-color, opacity !important;
        transition-duration: 150ms !important;
        transition-timing-function: ease-out !important;
    }

        header.wide-header > div:hover,
        footer > div:hover {
            background-color: rgba(241, 241, 241, 1) !important;
        }

    header.wide-header > div {
        width: 150px !important;
        height: 150px !important;
        border-radius: 90px !important;
        margin-left: -90px !important;
        margin-top: -90px !important;
        text-align: left !important;
        overflow: hidden !important;
        opacity: 0 !important;
    }

        header.wide-header > div.show {
            opacity: 1 !important;
        }

            header.wide-header > div.show:hover {
                width: 500px !important;
                margin-left: -250px !important;
                border-radius: 0 !important;
            }

        header.wide-header > div img {
            float: left !important;
            width: 150px !important;
            height: 150px !important;
            border-radius: 75px !important;
            transition-property: border-radius !important;
            transition-duration: 150ms !important;
            transition-timing-function: ease-out !important;
        }

        header.wide-header > div:hover img {
            border-radius: 0 !important;
        }

        header.wide-header > div p {
            position: absolute !important;
            top: 15px !important;
            left: 180px !important;
            line-height: 1.4em !important;
            width: 335px !important;
            margin-bottom: 0 !important;
        }

    header.wide-header > div {
        box-sizing: content-box !important;
    }

/**
 * Common header.default-header and footer related styles.
 */
header.default-header {
    position: relative !important;
    background: #333 !important;
    text-align: center !important;
    overflow: hidden !important;
    font-size: 18px !important;
    height: 170px !important;
}

footer {
    position: fixed !important;
    background: #333 !important;
    text-align: center !important;
    overflow: hidden !important;
    font-size: 18px !important;
    height: 170px !important;
    width: 100%;
    bottom: 0;
}

    header.default-header svg,
    footer svg {
        display: block !important;
        width: 100% !important;
        opacity: 1 !important;
        position: relative !important;
        display: block !important;
        background: #333 !important;
    }

        header.default-header svg polygon,
        footer svg polygon {
            cursor: pointer !important;
            opacity: 0 !important;
            transition: opacity 300ms ease-out !important;
        }

        header.default-header svg.show polygon {
            opacity: 0.7 !important;
        }

        header.default-header svg polygon:hover {
            opacity: 1 !important;
        }

footer svg polygon.show {
    opacity: 1 !important;
}

header.default-header > div,
    footer > div {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    padding: 15px !important;
    background-color: rgba(241, 241, 241, 0.9) !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
    transition-property: width, margin-left, border-radius, background-color, opacity !important;
    transition-duration: 150ms !important;
    transition-timing-function: ease-out !important;
}

    header.default-header > div:hover {
        background-color: rgba(241, 241, 241, 1) !important;
    }

header.default-header > div {
    width: 150px !important;
    height: 150px !important;
    border-radius: 90px !important;
    margin-left: -90px !important;
    margin-top: -90px !important;
    text-align: left !important;
    overflow: hidden !important;
    opacity: 0 !important;
}

    header.default-header > div.show {
        opacity: 1 !important;
    }

        header.default-header > div.show:hover {
            width: 500px !important;
            margin-left: -250px !important;
            border-radius: 0 !important;
        }

    header.default-header > div img {
        float: left !important;
        width: 150px !important;
        height: 150px !important;
        border-radius: 75px !important;
        transition-property: border-radius !important;
        transition-duration: 150ms !important;
        transition-timing-function: ease-out !important;
    }

    header.default-header > div:hover img {
        border-radius: 0 !important;
    }

    header.default-header > div p {
        position: absolute !important;
        top: 15px !important;
        left: 180px !important;
        line-height: 1.4em !important;
        width: 335px !important;
        margin-bottom: 0 !important;
    }

    footer > div {
        position: absolute !important;
        -webkit-transform: translate(-50%, -50%) !important;
        transform: translate(-50%, -50%) !important;
    }

header.default-header > div {
    box-sizing: content-box !important;
}

/**
 * Styles for my experiments list.
 */
ul.experiments {
    margin: 0 auto !important;
    max-width: 960px !important;
}

    ul.experiments a {
        text-decoration: none !important;
    }

    ul.experiments > li {
        padding: 15px !important;
        font-size: 23px !important;
    }

        /**
     * Add a small line between each experiment.
     */
        ul.experiments > li::after {
            clear: both !important;
            display: block !important;
            content: " " !important;
        }

        ul.experiments > li:not(:last-child)::after {
            height: 1px !important;
            width: 240px !important;
            background: #eee !important;
            border-bottom: 1px solid #fff !important;
            margin: 0 auto !important;
        }

        ul.experiments > li .canvas {
            float: left !important;
            opacity: 0 !important;
            transition: opacity 600ms ease-out !important;
        }

        ul.experiments > li.visible .canvas {
            opacity: 1 !important;
        }

        ul.experiments > li h3,
        ul.experiments > li p,
        ul.experiments > li ul {
            /*margin-left: 320px !important;*/
            margin-bottom: 1em !important;
        }

        ul.experiments > li h3 {
            margin-top: 65px !important;
            /*text-transform: uppercase !important;*/
            letter-spacing: 0.01em !important;
        }

            ul.experiments > li h3 a {
                font-size: 50px !important;
                word-spacing: 0.3em !important;
                padding-right: 15px !important;
            }

            ul.experiments > li h3 .date {
                display: inline-block !important;
                font-size: 15px !important;
                line-height: 20px !important;
                white-space: normal !important;
                color: #aaa !important;
            }

        ul.experiments > li .description {
            line-height: 1.3em !important;
        }

            ul.experiments > li .description > a {
                border-bottom: 1px solid #999 !important;
            }

        ul.experiments > li .tags {
            display: block !important;
        }

            ul.experiments > li .tags > li {
                display: inline-block !important;
                background: #efefef !important;
                padding: 5px 10px !important;
                margin: 0 5px 10px 0 !important;
                font-size: 18px !important;
            }

                ul.experiments > li .tags > li.chrome {
                    padding: 0 !important;
                }

                    ul.experiments > li .tags > li.chrome a,
                    ul.experiments > li .tags > li.chrome a:visited,
                    ul.experiments > li .tags > li.chrome a:hover {
                        padding: 5px 10px 5px 35px !important;
                        display: block !important;
                        background: url("/assets/images/chrome.png") 7px center/25px no-repeat !important;
                    }

ul.categories {
    font-size: 15px;
}

/**
 * General content styles
 */
.content {
    position: relative !important;
    padding: 50px 0 !important;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2) !important;
}


    .content > p {
        margin: 0 auto 20px !important;
        padding: 0 40px !important;
        max-width: 1130px !important;
    }

.four-o-four {
    text-align: center !important;
}

    .four-o-four .content h2 {
        font-size: 60px !important;
        line-height: 1.75em !important;
    }

    .four-o-four .content p {
        font-size: 40px !important;
        line-height: 1.75em !important;
    }

        .four-o-four .content p a {
            text-decoration: none !important;
            font-size: 16px !important;
            color: #999 !important;
            border-bottom: 1px solid #aaa !important;
        }

    .four-o-four .content .gif {
        background-repeat: no-repeat !important;
        background-position: center center !important;
        background-size: contain !important;
        background-image: url("/resources/images/404.gif") !important;
        height: 500px !important;
        margin: 50px 0 !important;
    }

    h1.post-header{
        text-align:center;
        font-weight:900;
        color:#7e7e7e;
    }

    p.post-description{
        text-align:Justify;
        color:#4e4e4e;
    }

    div.post-content{
        text-align:Justify;
        color:#4e4e4e;
    }

li.category {
    cursor: pointer;
}

li.selected {
    background-color:#e1e1e1;
    padding-left: 30px;
}

.main-div{
    margin-bottom: 170px;
}